.error {
    background: var(--secondary);
    color: var(--main);
    border-radius: var(--radius);
    font-size: .9rem;
    transition: opacity var(--duration) var(--transition);
    cursor: pointer;
    z-index: 100;
}

.top-right {
    top: 16px;
    right: 16px;
}

.error:hover {
    opacity: .7;
}
